<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', obj: f.object %>
  <div class="field form-group">
    <%= f.text_area :content, 
      placeholder: "Compose a new message",
      class: "form-control" %>
  </div>
  <label id="letters_counter">140 letters left</label>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
  